html {
  line-height: 1;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

// Для корректного отображения в IE9-
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}



// Выравнивание
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}



.hide {
  display: none;
}

.show {
  display: block;
}